<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/stylesheets') %>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <%- include('../partials/modal_add_item') %>
    
    <div class="container mt-4">
      <div class="row py-3">
        <button type="button" class="btn btn-primary add" data-toggle="modal" data-target="#exampleModal">
          Add item
        </button>
      </div>
      <div class="row">
        <div class="table-responsive">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th scope="col" width="25%">Name</th>
                <th scope="col" width="25%">Quantity</th>
                <th scope="col" width="25%">Amount</th>
                <th scope="col" colspan="2">Options</th>
              </tr>
            </thead>
            <tbody>
              <% results.forEach( (item) => { %>
                  <tr>
                      <td class="item-name"><span><%= item.name %></span></td>
                      <td class="item-qty"><span><%= item.qty %></span></td>
                      <td class="item-amount"><span><%= item.amount %></span></td>
                      <td class="item-edit"width="15%"><button type="button" class="btn btn-warning edit" data-item-id="<%= item.id %>">Edit</button></td>
                      <td class="item-delete"><button type="button" class="btn btn-danger delete" data-item-id="<%= item.id %>">Delete</button></td>
                  </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <%- include('../partials/bootstrap_js') %>

    <script src="js/main.js"></script>
  </body>
</html>